[Unit]
Description=Njala Past Questions API - ASP.NET Core Web API
After=network.target

[Service]
WorkingDirectory=/var/www/njala-backend
ExecStart=/usr/bin/dotnet /var/www/njala-backend/NjalaAPI.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=njala-api
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:5000

[Install]
WantedBy=multi-user.target
